$mt-containers: 5rem;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.459);
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  font-size: 16px;
}

video {
  width: 100%;
  border-radius: 6px;
}

.text-muted {
  color: #e2e8f0 !important;
}

.container {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.full-vp {
  width: 100vw !important;
  height: 100vh !important;
}

.bg-register {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.514)), url("../../public/images/register.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-form-register {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;


  >form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: $mt-containers;
  }
}

.container-hero {
  $px: 3rem;

  margin-top: $mt-containers + 3rem;
  max-width: 600px;
  color: #fff;
  padding-top: 5rem;
  padding-left: $px;
  padding-right: $px;
}

#form-register-users {
  width: 100%;
  display: block;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}